.font-weight-600 {
    font-weight: 600;
}

.size-0-9 {
    font-size: .9rem;
}

.size-0-8 {
    font-size: .8rem;
}

.size-1-0 {
    font-size: 1rem;
}

.size-1-2 {
    font-size: 1.2rem;
}

.size-1-4 {
    font-size: 1.4rem;
}

.no-hover-underline:hover {
  text-decoration: none;
}

.lh-1-1 {
    line-height: 1.1rem;
}

.lh-1-2 {
    line-height: 1.2rem;
}

.lh-1-3 {
    line-height: 1.3rem;
}

.lh-1-4 {
    line-height: 1.4rem;
}

.lh-1-5 {
    line-height: 1.5rem;
}

.lh-1-6 {
    line-height: 1.6rem;
}

.lh-1-7 {
    line-height: 1.7rem;
}

.font-hand {
    font-family: $font-family-hand;
}